/*.btn{*/
/*    text-decoration: blue !important;*/
/*}*/
#top{
    background-color: rgb(233,251,255);
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 5px;
}
.fa-phone,.style-fa, .basket{
    font-size: 25px !important;
}
.basket{
    position: relative;
    padding-left: 15px;
}
#goods-basket{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: rgba(255,106,30,.9);
    font-size: 12px;
    line-height: 1.7;
    text-align: center;
    font-weight: 600;
    color: #ebf3e7;
    top: -10px;
    left: 25px;
    border-radius: 50%;
}
#logo{
    box-shadow: rgb(117,117,117)-5px 5px 10px 0px;
}
#repead-images{
    background-image: url("../images/resourses/b1.png");
    background-repeat: repeat-x;
}
#menu{
    background-color: rgb(48,110,160)!important;
    border-radius: 20px;
    background-image: none!important;
    border-color: rgb(255,255,255) !important;
    border: 1px solid;
    box-shadow: rgb(117,117,117)-5px 5px 10px 0px;
}
.color_white, .color_white_hover{
    color: white !important;
}
.color_white_hover:hover{
    color: yellow !important;
}
.product{
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.product a{
    text-decoration: none;
}
.display-off{
    display: none;
}
.product-border{
    border: black 1px solid !important;
    border-radius: 10px !important;
    box-shadow: rgb(117,117,117) -5px 5px 10px 0px;
    box-sizing: content-box;
    max-height: content-box !important;

}
.image {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
.image img{
    max-width: 100%;
    /*height: auto;*/
    height: 180px;
}
.capture{

    text-align: left;
    padding-left: 20px;

}
capture-order{
    display: flex;
}
.capture-row-name, .capture-factory, .capture-catalog, .capture-unit, .capture-price{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    white-space: nowrap;
}
.capture-descript, .capture-descript-price{
    /*display: inline-block;*/
    color: black;
    padding: 2px;
    margin-right: 10px;
}
.capture-name, .capture-name-price{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 700;
    /*display: inline-block;*/
    /*font-weight: 700;*/
}
.capture-descript-price{
    font-size: 20px;
}
.capture-name-price{
    font-size: 28px;
}
.order{
    position: absolute;
    right:  30px;
    bottom: 30px;
}